<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>blog</title>
    <style>
        :root {
  --fg: #222;
}

* {
  color: var(--fg);
}

nav {
  padding: 1em;
}

hr {
  border-top: none;
  border-width: 1px;
  border-color: var(--fg);
}

body {
  max-width: 700px;
  min-height: 100vh;
  margin: auto;
  background-color: #eee;
}

.site_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--fg);
  text-decoration: none;
  line-height: 1;
  border-bottom: none;
}

section {
  background-color: white;
  padding-right: 1em;
  padding-left: 1em;
  margin: auto;
  margin-bottom: 1em;
  border: 1px solid var(--fg);
}

table {
  width: 100%;
}

section h1 {
  font-family: sans-serif;
  border-bottom: 1px solid var(--fg);
  padding-bottom: 0.2em;
  margin-bottom: 0;
}

.center {
    margin: auto;
    width: 100%;
}
    </style>
  </head>
  <body>
    <nav>
        <a class="site_title" href="/">wooo.sh</a>
    </nav>

    <section>
        <img class="center" src="images/welcome.gif"/>
    </section>
    <section>
        <h1>articles</h1>
        <table>
            <tr>
                <td><a type="application/rss+xml" href="feed.rss">RSS feed</a></td>
            </tr>
            {{range .Pages}}
            <tr>
                <td><a href="/{{.Filename}}">{{.Title}}</a></td>
                <td align="right">{{.Date}}</td>
            </tr>
            {{end}}
        </table>
    </section>
  </body>
</html>
