<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>blog</title>
    <style>
        :root {
  --fg: #222;
}

* {
  color: var(--fg);
}

nav {
  padding: 1em;
}

hr {
  border-top: none;
  border-width: 1px;
  border-color: var(--fg);
}

body {
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
}

.site_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--fg);
  text-decoration: none;
  line-height: 1;
  border-bottom: none;
}

main {
  padding-right: 1em;
  padding-left: 1em;
  margin: auto;
  border: 1px solid var(--fg);
}

main table {
  width: 100%;
}
    </style>
  </head>
  <body>
    <nav>
        <a class="site_title" href="/">wooo.sh</a>
    </nav>

    <main>
        <table>
            {{range .Pages}}
            <tr>
                <td><a href="/{{.Filename}}">{{.Title}}</a></td>
                <td align="right">{{.Date}}</td>
            </tr>
            {{end}}
        </table>
        <a type="application/rss+xml" href="feed.rss">RSS feed for this page</a>
    </main>
  </body>
</html>
