<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="Description" content="wooosh's blog">
    <title>{{.Title}}</title>
    <style>
    :root {
  --fg: #222;
}

* {
  color: var(--fg);
}

nav {
  padding: 1em;
}

hr {
  border-top: none;
  border-width: 1px;
  border-color: var(--fg);
}

body {
  max-width: 700px;
  min-height: 100vh;
  margin: auto;
  background-color: #eee;
}

.site_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--fg);
  text-decoration: none;
  line-height: 1;
}

article {
  background-color: white;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  margin: auto;
  border: 1px solid var(--fg);
}

article h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  margin-bottom: 5px;
}

article h1:not(.article_title) {
  padding-bottom: 0.2em;
  margin-bottom: -10px;
}

article h2 {
  font-size: 1.35em;
}

article time {
  font-family: sans-serif;
  color: #777;
}

article {
  font-family: sans-serif;
}

article a::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

img {
  max-width: 100%;
}

figcaption {
  padding: 2px;
  font-family: serif;
  text-align: center;
}

td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
    </style>
    </head>
    <body>
        <nav>
            <a class="site_title" href="/">wooo.sh</a>
        </nav>
        <article>
            <h1 class="article_title">{{.Title}}</h1>
            <time>posted on {{.Date}}</time>
            {{.Content}}
        </article>
    </body>
</html>
