<?xml version="1.0"?>
<rss version="2.0">
  <channel>
    <title>wooosh's blog</title>
    <link>https://blog.wooo.sh/</link>
    <description>blog</description>
    {{range .Pages}}
    <item>
       <title>{{.Title}}</title>
       <link>https://blog.wooo.sh/{{.Filename}}</link>
       <description>View on https://blog.wooo.sh/{{.Filename}}</description>
    </item>
    {{end}}
  </channel>
</rss>
