:root {
  --bg-color: #faf9f6;
  --bg-code-color: #e6ecec;
  --bg-highlight: hsl(45, 29%, 90%);

  --text-color: #222;
  --text-strong-color: #004203;
  --text-light-color: #777;

  --light-line: lightgray;
  --accent-color: #519654;
}

@media(prefers-color-scheme: dark) {
  :root {
    --bg-color: #141414;
    --bg-code-color: #212424;
    --bg-highlight: #2d2d3e;
  
    --text-color: #fafafa;
    --text-strong-color: #519654;
    --text-light-color: #888;
  
    --light-line: #888;
    --accent-color: #004203;
  }

  .invert-on-dark {
    filter: invert();
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
}

main {
  counter-reset: h2section;
  max-width: 50em;
  margin: auto;
  padding: 0.5em;
}

h1, h2, h3, h4, h5, strong, a, summary {
  color: var(--text-strong-color);
}

a:hover {
  background-color: var(--bg-highlight);
}

a[href^="http"]::before {
  content: '⧉ ';
}

figure {
  width: fit-content;
  margin: auto;
}

figure img {
  margin: 0;
  border: 2px solid var(--light-line);
}

figcaption {
  text-align: center;
  color: var(--text-light-color);
  padding: 0.5em;
}

h1 a:not(:hover),
h2 a:not(:hover),
h3 a:not(:hover),
h4 a:not(:hover),
h5 a:not(:hover) {
  text-decoration: none;
}

.tableOfContents a {
  color: var(--text-color);
}

h2, .hline {
  border-bottom: 1px solid var(--light-line);
}


h2::after, h3::after {
  color: var(--text-light-color);
  font-family: Courier, monospace;
  font-weight: normal;
  font-size: 0.9rem;
  float: right;

  /* stupid hack to align to the bottom */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 1.5em;
}

h2 {
  counter-reset: h3section;
}



h2::after {
  counter-increment: h2section;
  content: "["counter(h2section)"."counter(h3section)"]";
}

h3::after {
  counter-increment: h3section;
  content: "["counter(h2section)"."counter(h3section)"]";
}

header {
  display: flex;
  flex-wrap: wrap;
}

header *:last-child {
  flex: 1;
  text-align: right;
  white-space: nowrap;
}


header, header a, header span {
  color: var(--text-light-color);
  font-family: Courier, monospace;
}

.title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

pre, code {
  font-family: Courier, monospace;
  background-color: var(--bg-code-color);
}

li a {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
}

pre {
  border: 1px solid var(--accent-color);
  border-left-width: 4px;
  padding: 0.5em;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tableOfContents ol {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  list-style: decimal-leading-zero;
}

.tableOfContents ol ol {
  list-style: lower-roman;
}

ol, ul {
  margin-top: 0;
}

li::marker {
  font-family: Courier, monospace;
}

.label {
  margin-top: 1em;
  display: block;
}

.note {
  border: 1px solid var(--accent-color);
  border-left-width: 4px;
  padding: 0.5em;
  background-color: var(--bg-code-color);
}

.note::before {
  content: 'Note';
  display: block;
  color: var(--text-strong-color);
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  max-width: 100%;
}

details {
  padding: .5em .5em 0;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  background-color: var(--bg-code-color);
}

details[open] summary {
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: .5em;
}

summary::after{
  content: " [click to expand]";
  color: var(--text-light-color);
  font-weight: normal;
}

details[open] summary::after{
  content: " [click to collapse]";
  color: var(--text-light-color);
  font-weight: normal;
}

summary {
  margin: -.5em -.5em 0;
  padding: .5em;
  font-weight: bold;
  background-color: var(--bg-color);
}

li, p {
  line-height: 1.3;
}

li {
  margin-bottom: 0.5em;
}

li:last-child {
  margin-bottom: 0em;
}

.articles {
  width: 100%;
}

.articledate {
  font-family: Courier, monospace;
  margin-right: 0.5em;
}


footer, footer a {
  text-align: center;
  color: var(--text-light-color);
  font-family: Courier, monospace;
}

footer {
  padding-bottom: 1em;
}

.counter img {
  margin: 0;
  display: none;
}

/* SYNTAX HIGHLIGHTING */
.bg {
  background-color: var(--bg-code-color);
}

.chroma {
  background-color: var(--bg-code-color);
}

.chroma .err {}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .hl {
  background-color: #e5e5e5
}

.chroma .lnt {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

.chroma .line {
  display: flex;
}

.chroma .k {
  font-weight: bold
}

.chroma .kc {
  font-weight: bold
}

.chroma .kd {
  font-weight: bold
}

.chroma .kn {
  font-weight: bold
}

.chroma .kp {}

.chroma .kr {
  font-weight: bold
}

.chroma .kt {}

.chroma .kt {
  font-weight: bold;
}

.chroma .nc {
  font-weight: bold
}

.chroma .ni {
  font-weight: bold
}

.chroma .ne {
  font-weight: bold
}

.chroma .nn {
  font-weight: bold
}

.chroma .nt {
  font-weight: bold
}

.chroma .s {
  font-style: italic
}

.chroma .sa {
  font-style: italic
}

.chroma .sb {
  font-style: italic
}

.chroma .sc {
  font-style: italic
}

.chroma .dl {
  font-style: italic
}

.chroma .sd {
  font-style: italic
}

.chroma .s2 {
  font-style: italic
}

.chroma .se {
  font-weight: bold;
  font-style: italic
}

.chroma .sh {
  font-style: italic
}

.chroma .si {
  font-weight: bold;
  font-style: italic
}

.chroma .sx {
  font-style: italic
}

.chroma .sr {
  font-style: italic
}

.chroma .s1 {
  font-style: italic
}

.chroma .ss {
  font-style: italic
}

.chroma .ow {
  font-weight: bold
}

.chroma .c {
  font-style: italic
}

.chroma .ch {
  font-style: italic
}

.chroma .cm {
  font-style: italic
}

.chroma .c1 {
  font-style: italic
}

.chroma .cs {
  font-style: italic
}

.chroma .cp {}

.chroma .cpf {}

.chroma .ge {
  font-style: italic
}

.chroma .gh {
  font-weight: bold
}

.chroma .gp {
  font-weight: bold
}

.chroma .gs {
  font-weight: bold
}

.chroma .gu {
  font-weight: bold
}
